RockitizerDemo/bookService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cleverbuilder.com/BookService/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.cleverbuilder.com/BookService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:element ibmSchExtn:docRoot="true" name="GetBook">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="GetBookResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:string"/>
						<xsd:element name="Title" type="xsd:string"/>
						<xsd:element name="Author" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="AddBook">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Title" type="xsd:string"/>
						<xsd:element name="Author" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="AddBookResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ID" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="GetAllBooks">
				<xsd:complexType/>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="GetAllBooksResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Book">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="ID" type="xsd:string"/>
									<xsd:element name="Title" type="xsd:string"/>
									<xsd:element name="Author" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>